html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    background-color: $bg;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

    &--lg {
        max-width: 1800px;
    }
}

.sr-only {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip-path: inset(0 0 0 0);
    overflow: hidden;
    border: 0;
    white-space: nowrap;
}