
/* stylelint-disable */
@mixin line-clamp($count) {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
/* stylelint-enable */

@mixin r($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin h($width) {
    @media screen and (max-height: $width) {
        @content;
    }
}