// font-family: 'DMSans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Rubik', sans-serif;

// screen size

$xsm: 380px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// blue
$blue20: #a3bbc8;
$blue70: #436372;
$blue80: #243f4d;
$blue90: #222933;

// rose
$pink20: #feefe2;
$pink50: rgb(252, 215, 182);

// grey
$gray50: #8b8b8b;
$gray60: #7b7b7b;

// black
$black30: #262626;
$black90: #191919;

// other
$bg: #fff;

// fansybox error

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
