.products {
    padding: 60px 0 0;

    &__title {
        margin-bottom: 20px;
    }

    &__list {
        margin-bottom: 80px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px 135px;

        @include r($xl) {
            justify-content: center;
        }

        @include r($md) {
            margin-bottom: 70px;
        }
    }

    &__item {
        margin: 0 15px 40px;
    }
}

.products-promo {
    &__inner {
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);

        @include r($xl) {
            justify-items: center;
            grid-row-gap: 100px;
            grid-template-columns: 1fr;
        }

        @include r($md) {
            grid-row-gap: 50px;
        }
    }
}