.slider-top {
    padding-top: 145px;

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;

        .slick-dots {
            position: absolute;
            left: 50%;
            bottom: 45px;
            display: flex;
            justify-content: center;
            transform: translateX(-50%);

            li {
                button {
                    width: 30px;
                    height: 30px;
                    outline: transparent;
                    border: 2px solid transparent;
                    border-radius: 50%;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 1;
                    color: $blue80;
                    background-color: rgba(255, 255, 255, 0.3);
                    transition: border-color 0.3s, transform 0.3s;

                    &:focus {
                        border: 2px solid $blue20;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            li:not(:last-child) {
                margin-right: 12px;
            }

            .slick-active {
                button {
                    background-color: $bg;
                }
            }

            // здесь написал одну по высоте индивидуально,
            // так как по высоте отображается не корректно если брать ближайшую переменную

            @include h(560px) {
                display: none;
            }

            @include r($xsm) {
                bottom: 30px;
            }
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 830px;

        @include r($xl) {
            min-height: calc(100vh - 145px);
        }

        @include r($md) {
            justify-content: center;
        }

        @include h($sm) {
            padding: 15px 0;
        }
    }

    &__item {
        background-color: #fcd7b6;
    }

    &__content {
        padding-left: 2px;
        max-width: 470px;

        @include r($md) {
            text-align: center;
        }
    }

    &__title {
        @include line-clamp (2);

        margin-bottom: 22px;
        font-weight: 500;
        font-size: 70px;
        line-height: 1;
        text-transform: uppercase;
        color: $blue80;

        @include r($lg) {
            font-size: 50px;
        }

        @include r($xsm) {
            font-size: 40px;
        }
    }

    &__text {
        @include line-clamp (5);

        margin-bottom: 45px;
        max-width: 370px;
        font-size: 18px;
        line-height: 1.6;
        color: $blue70;

        @include r($lg) {
            font-size: 16px;
        }

        @include r($md) {
            margin: 0 auto 45px;
        }

        @include r($xsm) {
            margin-bottom: 30px;
        }
    }

    &__link {
        @include r($md) {
            margin: 0 auto;
            text-align: justify;
        }
    }

    &__img {
        position: relative;
        max-width: 670px;

        &::after {
            content: "";
            position: absolute;
            right: -118px;
            top: 50%;
            z-index: 0;
            width: 630px;
            height: 630px;
            border-radius: 50%;
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.02005) 0%, rgba(255, 255, 255, 1) 100%);
            transform: translateY(-50%);

            @include r($lg) {
                width: 530px;
                height: 530px;
            }
        }

        @include r($md) {
            display: none;
        }
    }

    &__image {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}