.link {
    position: relative;
    outline: transparent;
    border: 3px solid transparent;
    transition: box-shadow 0.3s, border-color 0.3s, color 0.3s;

    &:focus {
        border-bottom: 3px solid $blue20;
    }

    &:hover {
        box-shadow: 3px 3px 10px $blue20;
    }

    &:active {
        color: $blue20;
    }
}