body {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.9;
    background-color: #ffffff;
}

.container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(0 0 0 0);
    overflow: hidden;
}