// font-family: 'DMSans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Rubik', sans-serif;

$black: #191919;
$header-accent: #fcd7b6;
$pink: #feefe2;
$accent: #a3bbc8;
$footer-default: #7b7b7b;
$footer-title: #1f2044;
$bg: #fff;