.design-card {
    position: relative;
    height: 246px;
    max-width: 370px;
    overflow: hidden;
    outline: transparent;
    background-color: #f8f8f8;
    transition: background-color 0.3s;

    &__link {
        display: block;
        padding: 40px 0 0 35px;
        width: 100%;
        height: 100%;
        outline: transparent;
        border: 3px solid transparent;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        transition: background-color 0.5s;

        &:focus {
            border: 3px solid $blue20;
        }

        &:hover {
            background-color: rgba(139, 139, 139, 0.3);
        }

        &:active .design-card__image {
            transform: scale(1.2);
        }
    }

    &__title {
        width: 175px;
        font-size: 20px;
        line-height: 1;
        color: $black90;
    }

    &__type {
        color: $blue20;
    }

    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 180px;
        max-width: 350px;
        transition: transform 0.5s;
    }

    &__img {
        position: absolute;
        left: 75%;
        bottom: 0;
        height: 100%;
        object-fit: contain;
        transform: translateX(-50%);
    }
}