.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 15px 40px;
    width: 270px;
    height: 385px;
    border: 3px solid transparent;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

    &__image {
        position: relative;
        width: 250px;
        height: 220px;
        overflow: hidden;
        transition: background-color 0.5s;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__icons {
        position: absolute;
        left: 50%;
        bottom: 40px;
        display: flex;
        justify-content: center;
        transform: translate(-50%, 300%);
        transition: transform 0.5s;
    }

    &__icon {
        margin-right: 15px;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

        svg {
            fill: $blue20;
        }
    }

    &__subtitle {
        @include line-clamp (1);

        margin-top: 40px;
        font-family: "DMSans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 2.2;
        color: $blue80;
    }

    &__cost {
        display: block;
        text-align: center;
    }

    &:hover .product-card__icons {
        transform: translate(-50%, 0);
    }
}