.button {
    position: relative;
    display: inline-block;
    padding: 20px 100px 20px 26px;
    overflow: hidden;
    outline: transparent;
    border: 2px solid transparent;
    box-shadow: 0 0 transparent;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    color: $bg;
    background-color: #a3bbc8;
    transition: border-color 0.3s, background-color 0.3s;

    &::before {
        content: "";
        position: absolute;
        left: -10%;
        bottom: 0;
        width: 0;
        height: 120%;
        background: rgba(67, 99, 114, 0.2);
        transform: skewX(15deg);
        transition: width 0.3s;
    }

    svg {
        content: "";
        position: absolute;
        right: 17px;
        top: 50%;
        width: 32px;
        height: 10px;
        fill: $bg;
        transform: translateY(-50%);
    }

    &:focus {
        border: 2px solid #436372;
    }

    &:hover {
        &::before {
            left: -10%;
            width: 120%;
        }
    }

    &:active {
        background-color: #436070;
    }

    &--transparent {
        padding: 23px 80px 23px 26px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        color: $blue70;
        background-color: transparent;

        svg {
            fill: $blue80;
        }

        &:active {
            color: $bg;

            path {
                fill: $bg;
            }
        }
    }
}