.contact-form {
    width: 100%;

    &__box {
        display: flex;
    }

    &__label {
        position: relative;
        display: inline-block;
        flex-basis: 50%;

        &::after {
            content: "";
            position: absolute;
            right: 22px;
            top: 50%;
            width: 19px;
            height: 15px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }

        &:first-child {
            margin-right: 20px;

            @include r($md) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        &--user {
            &::after {
                background-image: url("../../images/icons/form-user.svg");
            }
        }

        &--message {
            &::after {
                background-image: url("../../images/icons/form-letter.svg");
            }
        }

        @include r($md) {
            max-width: 100%;
        }
    }

    &__textbox {
        position: relative;
        display: block;
        margin: 22px 0 28px;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            right: 22px;
            top: 26px;
            width: 19px;
            height: 15px;
            background-image: url("../../images/icons/form-message.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateY(-50%);
        }
    }

    &__text {
        position: relative;
        width: 100%;
        height: 176px;
        resize: none;
    }

    &__button.button {
        padding: 20px 45px;
        border-radius: 5px;
        text-transform: uppercase;
    }

    &__input,
    &__text {
        display: inline-block;
        padding: 16px 22px;
        width: 100%;
        border: none;
        background-color: #f5f5f5;

        &::placeholder {
            opacity: 0.8;
            text-transform: uppercase;
            color: #565872;
        }
    }

    @include r($md) {
        padding-top: 60px;
    }
}
