.mix-filter {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item:not(:last-child) {
        margin-right: 12px;
    }

    &__link {
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.1;
        color: $gray50;
        background-color: transparent;
    }

    .mixitup-control-active {
        color: $black90;
    }

    @include r($sm) {
        flex-wrap: wrap;
    }
}