<header class="header">
    <div class="container container--lg">
        <div class="header__inner">
            <nav class="menu">
                <a class="logo header__logo" href="./index.html">
                    <img class="logo__image" width="150" src="images/icons/logo.png" alt="logo Glee">
                </a>
                <button class="burger" type="button">
                    <span class="burger__line"></span>
                </button>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link menu__link--active link clickable" href="./index.html">
                            Home +
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link clickable" href="./about_us.html">
                            About
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link clickable" href="./products.html">
                            Services
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link clickable" href="./products.html">
                            Pages +
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link clickable" href="./blog-list.html">
                            News
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link link clickable" href="./contact.html">
                            Contacts
                        </a>
                    </li>
                </ul>

                <div class="user-icons">
                    <button class="circle-btn user-icons__item" type="button">
                        <span class="sr-only">Search</span>
                        <svg>
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </button>
                    <a class="circle-btn user-icons__item user-icons__item--like" href="./log-in.html">
                        <span class="sr-only">Go to likes</span>
                        <svg>
                            <use xlink:href="images/sprite.svg#like"></use>
                        </svg>
                        <span class="user-icons__num">0</span>
                    </a>
                    <a class="circle-btn user-icons__item user-icons__item--basket" href="./log-in.html">
                        <span class="sr-only">Go to basket</span>
                        <svg>
                            <use xlink:href="images/sprite.svg#basket"></use>
                        </svg>
                        <span class="user-icons__num user-icons__num--basket">0</span>
                    </a>
                    <button class="circle-btn user-icons__item" type="button">
                        <span class="sr-only">Menu</span>
                        <svg>
                            <use xlink:href="images/sprite.svg#menu"></use>
                        </svg>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</header>