.advantages {
    &__list {
        display: flex;

        @include r($lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 28px 20px 45px 84px;
        width: 33.333%;
        background-color: #fef7f0;

        &:not(:last-child) {
            border-right: 1px solid rgba(36, 63, 77, 0.1);
        }

        @include r($lg) {
            flex-basis: 50%;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(36, 63, 77, 0.1);
            }

            &:last-child {
                flex-basis: 100%;
                max-width: 100%;
            }

            &:nth-child(even) {
                border-right: 0;
            }
        }

        @include r($md) {
            flex-basis: 100%;
            max-width: 100%;
            border-right: none;
            border-bottom: 1px solid rgba(36, 63, 77, 0.1);

            &:not(:last-child) {
                border-right: none;
            }
        }

        @include r($xsm) {
            padding-left: 30px;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        max-width: 220px;
        font-family: "DMSans", sans-serif;

        &::before {
            content: "";
            position: absolute;
            left: -30%;
            top: 0;
            width: 56px;
            height: 60px;
            background-position: center top;
            background-size: contain;
            background-repeat: no-repeat;

            @include r($xsm) {
                left: auto;
                right: 0;
                top: auto;
                bottom: -32px;
            }
        }

        &--support::before {
            background-image: url("../images/sprite.svg#support");
        }

        &--delivery::before {
            background-image: url("../images/sprite.svg#delivery");
        }

        &--paymant::before {
            background-image: url("../images/sprite.svg#paymant");
        }
    }

    &__title {
        @include line-clamp(2);

        font-weight: 700;
        font-size: 18px;
        line-height: 2.2;
        color: #414141;
    }

    &__text {
        @include line-clamp(3);

        color: #585858;
    }

    @include r($lg) {
        flex-basis: 50%;
    }

    @include r($md) {
        flex-basis: auto;
        padding: 28px 20px;
    }
}