.article-card {
    position: relative;
    width: 100%;
    height: 420px;
    max-width: 370px;
    background-color: $bg;

    &__info {
        position: relative;
        padding-left: 20px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -2px;
            width: 15px;
            height: 16px;
            background-image: url("../images/sprite.svg#date");
            background-repeat: no-repeat;
        }

        &--author {
            &::before {
                top: -1px;
                width: 12px;
                height: 13px;
                background-image: url("../images/sprite.svg#user");
            }
        }
    }

    &__box {
        display: block;
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1.5s;
    }

    &__news {
        // @include line-clamp(1);

        display: inline-block;
        margin-left: 28px;
        padding: 3px 28px;
        border: 2px solid transparent;
        border-radius: 15px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color: $bg;
        background-color: $blue20;
        transform: translateY(-50%);
        transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;

        &:focus {
            border: 2px solid $blue80;
        }

        &:hover {
            box-shadow: 0 0 0 5px #ccdce6;
        }

        &:active {
            background-color: $blue70;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 28px;
        min-height: 150px;
    }

    &__subtitle {
        flex-grow: 1;
        padding-bottom: 16px;
        font-family: "DMSans", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        color: $black30;
    }

    &__link {
        @include line-clamp (3);
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 0 27px;
        border-top: 1px solid #e0e0e0;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
    }

    &__author {
        &::before {
            background-image: url("../images/sprite.svg#user");
        }
    }

    &:hover .article-card__img {
        transform: scale(1.2);
    }
}