.list-disable {
    display: none;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 20px;
    width: 270px;
    height: 385px;
    border: 3px solid transparent;
    box-shadow: 0 6px 47px 3px rgba(66, 43, 43, 0.05);

    &__box {
        position: relative;
        flex-shrink: 0;
        width: 250px;
        height: 220px;
        overflow: hidden;
        transition: background-color 0.5s;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__list {
        position: absolute;
        left: 50%;
        bottom: 40px;
        display: flex;
        justify-content: center;
        transform: translate(-50%, 300%);
        transition: transform 0.5s;
    }

    &__subtitle {
        @include line-clamp (2);

        margin-top: 40px;
        margin-bottom: 6px;
        font-family: "DMSans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        color: $blue80;
    }

    &__cost {
        display: block;
        font-family: "DMSans", sans-serif;
        font-weight: 700;
        text-align: center;
        color: $blue20;
    }

    &:hover .product-card__list {
        transform: translate(-50%, 0);
    }

    &--active {
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        width: 100%;
        height: 500px;
        max-width: 870px;
        box-shadow: none;

        .product-card__list {
            display: none;
        }

        .product-card__content {
            display: block;
            padding: 80px 0;

            @include r($md) {
                padding: 10px 0;
            }
        }

        .list-disable {
            display: block;
        }

        .product-card__img-wrapper {
            margin-right: 57px;
            padding: 80px 23px;
            width: 100%;
            height: 100%;
            max-width: 370px;
            border: 1px solid #f2f2f2;
        }

        .product-card__box {
            width: 100%;
            height: 330px;
            max-width: 320px;
        }

        .product-card__subtitle {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 38px;
            text-align: left;
        }

        .product-card__star {
            z-index: 1;
            margin-bottom: 22px;
            width: 18px;
        }

        .product-card__cost {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 30px;
            color: $blue80;
        }

        .product-card__text {
            @include line-clamp (5);

            margin-bottom: 35px;
            font-size: 16px;
            color: $blue80;
        }

        .product-card__icons {
            display: flex;
        }

        .product-card__icon {
            width: 51px;
            height: 51px;
            border-radius: 0;
            box-shadow: 0 0 5px 5px rgba(197, 184, 184, 0.05);

            // padding: 15px;
            // border: none;
            // box-shadow: 0 0 5px 5px rgba(197, 184, 184, 0.05);
            // color: $blue20;
            // background-color: #fff;
            // transition: background-color 0.3s;

            svg {
                width: 22px;
                height: 22px;
                fill: $blue20;

                // display: block;
                // width: 22px;
                // height: 20px;
                // fill: $blue20;
                // transition: fill 0.3s;
            }
        }

        .product-card__icon:hover {
            background-color: $blue20;

            svg {
                fill: $bg;
            }
        }

        .product-card__icon:not(:last-child) {
            margin-right: 12px;
        }

        @include r($md) {
            height: 400px;
        }
    }

    @include r($lg) {
        width: auto;
        max-width: 460px;
    }
}