<div class="partners">
    <div class="container">
        <ul class="partners__inner">
            <li class="partners__item">
                <img class="partners__img" src="images/partners/item1.png" alt="partners">
            </li>
            <li class="partners__item">
                <img class="partners__img" src="images/partners/item2.png" alt="partners">
            </li>
            <li class="partners__item">
                <img class="partners__img" src="images/partners/item3.png" alt="partners">
            </li>
            <li class="partners__item">
                <img class="partners__img" src="images/partners/item4.png" alt="partners">
            </li>
            <li class="partners__item">
                <img class="partners__img" src="images/partners/item5.png" alt="partners">
            </li>
            <li class="partners__item">
                <img class="partners__img" src="images/partners/item4.png" alt="partners">
            </li>
            <li class="partners__item">
                <img class="partners__img" src="images/partners/item5.png" alt="partners">
            </li>
        </ul>
    </div>
</div>